<!DOCTYPE html>
<html lang='ko'>

<head>
    <title>상지대학교 강의평가</title>
    
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0" />
    <meta http-equiv=Cache-Control content=no-cache>
    <meta http-equiv=Pragma content=no-cache>
    <meta http-equiv=Content-Type content="text/html;charset=euc-kr">
    <meta http-equiv=Expires content=0>
    <meta content="MSHTML 6.00.2900.2769" name=GENERATOR>
    
    <!--
    [if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]
    <link rel="stylesheet" href="https://testtestcrllll-eunchanan.c9users.io/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="/assets/sass/main.scss">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    -->
    
   
   
   
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollgress.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    
    
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    
    
</head>

<body>
  <header style="position: relative; z-index: 1;"id="header">
			<h5 id="logo"><a href="javascript:home()">상지대학교 <span>강의평가</span></a></h1>
					<nav id="nav">
						   <ul>
                    <li class="current"><strong><a href="javascript:home()">홈으로</a></font></strong></li>
                    <li class="current"><strong><a href="javascript:homerating()">강의평가</a></font></strong></li>
                    <li class="current"><strong><a href="/home/Suggestions">건의사항</a></font></strong></li>
                    <li> <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div></li>
              </ul>
				</nav>
  </header>
  
				
    <!-- <body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Social Freak', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
      <li><%= link_to 'Facebook', '/auth/facebook' %></li>
      </ul>
    </div>
  </div>
</nav>-->

                
    <%= yield %>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    
    <script src="/assets/js/script2.js"></script>
    <script src="/assets/js/facebook.js"></script>
    <script src="/assets/js/pagemove.js"></script>
    
    

</body>

</html>

